.day-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 0 20px 20px;
}

.day {
  color: #525252;
}

.date {
  color: #b5b5b5;
  margin-top: 5px;
  text-align: center;
  margin-left: -23px;
}
